* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(90deg, #380c3c, #bf74c7);
  background-size: 200% 200%;
  background-attachment: fixed;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 25px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  padding: 40px 30px;
  max-width: 600px;
  margin: 20px;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: block;
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Responsivo */
@media (max-width: 600px) {
  .card {
    font-size: 1rem;
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }
}
